/*"#" se usa como selector de id's y "." se usa como selector para clases*/
/*background-color: #000; hsla(274, 0%, 0%, 1);rgba(0, 0, 0, 0.1);*/
/*vw: viewport width | vh: viewport height*/
/*@import url("https://fonts.googleapis.com/css?family=Acme&display=swap&effect=fire");*/
@font-face {
  font-family: "Acme";
  src: url("./fonts/Acme/Acme-Regular.ttf");
}

@font-face {
  font-family: "IBM-plex-regular";
  src: url("./fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf");
}

@font-face {
  font-family: "IBM-plex-bold";
  src: url("./fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "IBM-plex-regular";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM-plex-bold";
}

.header-background {
  width: 100%;
}

.svg-blob {
  position: absolute;
  left: 0;
  top: 100px;
}

.custom-title {
  margin: 15px 0 0 0;
  border: 1px solid;
  padding: 10px 0 0 0;
  width: auto;
  height: auto;
}

.bolding {
  font-weight: bold;
}

.nav-list {
  text-align: right;
  position: absolute;
  right: 10px;
}

.nav-list a li {
  width: 100px;
  margin-bottom: 10px;
  list-style: none;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-weight: lighter;
  display: inline;
}

a:link {
  text-decoration: none;
}

.title-section > p {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
